#Executables
*.out
fillit

#Libraries
*.a

#Folders
samples/
/includes/*
/tests
a.out.dSYM/

#Object Files
*.o
/objects

#Misc files
*.py
*.swp
*.txt
*.sh
.nfs*
*.gch
*.fillit
sudoku_main.c
sudoku_ult_solve.c
